{% extends '::account_base.html.twig' %}
{% block body %}
    <h2>Dashboard</h2>
    <div class="sep"></div>
    Hey, looks like you don't have any project, <a href="{{ path('account_projects') }}">create one</a>!
{% endblock %}