<select name="keyword_id" id="keyword_list">
    <option value="">[Choose keyword]</option>
    {% for item in keywords %}
        <option value="{{ item.id }}" {% if keyword_id == item.id %}selected="selected"{% endif %}>{{ item.keyword }}</option>
    {% endfor %}
</select>
