{% extends '::base.html.twig' %}
{% block body %}
    Homepage text
    <br />
    <a href="{{ path('login_register') }}">Login</a>
    <br />
    <a class="btn btn-primary" href="{{ path('plans') }}">See our Plans</a>
{% endblock %}