{% extends '::base.html.twig' %}

{% block body %}
    <div class="pricing">
        <h1>14-day Free Trial! <a href="{{ path('login_register') }}?trial=1">Click here</a></h1>
        <div class="rows">
            <div class="item">14-day Free Trial on All Accounts</div>
            <div class="item">Top100 SERPs (google, bing, yahoo)</div>
            <div class="item">Store SERPs data</div>
            <div class="item">Number of domains</div>
            <div class="item">Keywords per domain</div>
            <div class="item">Competitors per domain</div>
            <div class="item">Daily email/Goal email</div>
            <div class="item">Back-link checker</div>
            <div class="item">Alexa rank, google page-rank</div>
            <div class="item">Organizer (budget planner)</div>
            <div class="item">Site uptime verifier</div>
            <div class="item">Google, Bing, Yahoo bot tracker</div>
            <div class="item">Export history (CVS, PDF)</div>
            <div class="item">Custom report creation</div>
        </div>
        <div class="card">
            <div class="top">
                <h2>Basic</h2>
                <div class="description">Description</div>
                <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">5</span>
                    <span class="period">/month</span>
                </div>
            </div>
            <div class="items">
                <div class="item">Yes</div>
                <div class="item">every day (flexible rate)</div>
                <div class="item">Yes</div>
                <div class="item">1</div>
                <div class="item">3</div>
                <div class="item">1</div>
                <div class="item">Yes</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item"><a class="btn btn-success" href="{{ path('login_register') }}?package_id=1">Order</a></div>
            </div>
        </div>
        <div class="card highlight">
            <div class="top">
                <h2>Agency</h2>
                <div class="description">Description</div>
                <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">50</span>
                    <span class="period">/month</span>
                </div>
            </div>
            <div class="items">
                <div class="item">Yes</div>
                <div class="item">every day (flexible rate)</div>
                <div class="item">Yes</div>
                <div class="item">3</div>
                <div class="item">20</div>
                <div class="item">5</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item">No</div>
                <div class="item"><a class="btn btn-success" href="{{ path('login_register') }}?package_id=2">Order</a></div>
            </div>
        </div>
        <div class="card">
            <div class="top">
                <h2>Elite</h2>
                <div class="description">Description</div>
                <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">200</span>
                    <span class="period">/month</span>
                </div>
            </div>
            <div class="items">
                <div class="item">Yes</div>
                <div class="item">every day (flexible rate)</div>
                <div class="item">Yes</div>
                <div class="item">20</div>
                <div class="item">200</div>
                <div class="item">20</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item">Yes</div>
                <div class="item"><a class="btn btn-success" href="{{ path('login_register') }}?package_id=3">Order</a></div>
            </div>
        </div>
    </div>
{% endblock %}