input, button::-moz-focus-inner {
    border: 0 medium none;
    outline : none; 
}

* {
    outline: none;
}
.rows{
    float: left;
    padding-top: 203px;
    width: 258px;
}
.pricing .item {
    padding-left:20px;
    border-top:1px solid #CCCCCC;
    color:#333333;
    height: 50px;
    line-height:50px;
}
.rows .item {
    text-align: right;
}
.item:first-child{
    border-top:medium none;
}
.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 30px 30px 10px 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    float: left;
    font-size: 14px;
    line-height: normal;
    margin-left: 14px;
    width: 220px;
    margin-top: 63px;
}
.card .top {
    background: none repeat scroll 0 0 #333333;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: none;
    color: #EEEEEE;
    padding-top: 10px;
}
.card .description {
    font-size: 12px;
    height: 45px;
}
.card .price {
    height: 45px;
    margin-top: 0;
    text-align: center;
}
.price .currency {
    display: inline-block;
    font-size: 18px;
    padding-left: 20px;
    vertical-align: top;
}
.price .amount {
    display: inline-block;
    font-size: 40px;
    letter-spacing: -3px;
    line-height: 35px;
    vertical-align: middle;
}
.price .period {
    display: inline-block;
    font-size: 12px;
    vertical-align: bottom;
}
.card .select {
    margin-top: 10px;
    text-align: center;
}
a.button {
    background-color: #9FD968;
    background-image: -moz-linear-gradient(center top , #FFDA80 0%, #FF7C00 100%);
    border: 1px solid #999999;
    border-radius: 26px 26px 26px 26px;
    color: #000000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 8px 18px;
    text-decoration: none;
    white-space: nowrap;
}
a.button:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.card h2 {
    color: #EEEEEE;
    height: 40px;
    margin: 0;
    text-align: center;
}
.highlight {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    width: 240px;
}
.highlight .top {
    background: none repeat scroll 0 0 #000000;
}
.pricing .item, .card .description, .card .price2 {
    padding-left: 20px;
}
.sep{
    display: block;
    height: 10px;
    clear: both;
}
tr.data_tr:not(:first-child) {
    border-top:2px solid #FF5D5D;
}
tr.data_tr:first-child {
    border-top:0;
}
.keyword_td_hover{
    background-color: #B4F1FF !important;
}
.table_no_hover td, .table_no_hover th, .table td, .table th {
    text-align: center !important;
    white-space: nowrap;
}
.uptime_UP, .uptime_DOWN {
    height:12px;
    float:left;
}
.uptime_UP{
    background-color:#48D863;
}
.uptime_DOWN{
    background-color:#D02B28;
}
.uptime_all{
    background-color:#48D863;
    height:12px;
    width:300px;
}
.dropdown-menu li{
    text-align: left !important;
}
.font_seo_links{
    font-size: 10px;
}
.report_list li{
    list-style-type: none !important;
    margin-bottom: 5px;
}
.report_item{
    background-color: #CECECE;
    padding: 10px;
}
.right{
    float: right;
}
.report_detailed{
    display: none;
    margin-left: 25px;
    margin-top: 10px;
}
.report_subdetails{
    display: none;
}
.dotted{
    height: 1px;
    display: block;
    border-top: 1px dashed #000;
}
label {
    cursor: pointer;
}
.no-block{
    display: inline !important;
}
.site_error{
    color:red;
    font-weight: bold;
}
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 900px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 51px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
.text_center{
    text-align:center;
}
.relative{
    position: relative;
}
.features_homepage h2{
    font-size: 14px;
}
.all_features_link{
    font-size: 14px;
    font-weight: bold;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.features_div a {
    font-size: 14px;
    font-weight: bold;
}
.or_word{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #5A5A5A;
}
.with_stats div.g,.with_stats div.b, .with_stats div.y {
    height: 20px;
    width:20px;
    float:left;
}
.with_stats div.g{
    color:#4c8ffc;
}
.with_stats div.b{
    color:#ed922f;
}
.with_stats div.y{
    color:#7b0099;
}
.with_stats div.se_div{
    margin:0 auto;
    padding-left:16px;
}
#apply_changes_hint {
    font-style: italic;
    color: #FF0000;
    display: none;
}
.project_stats_tbs{
    width: 100%;
}
.project_stats_tbs th {
    color: #6B6B6B;
    font-size: .9em;
    font-weight: normal;
    text-align: left;
}
.project_stats_tbs td {
    color: #3C3C3C;
    font-size: 1.8em;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    padding-top: 5px;
}
.font12{
    font-size: 12px;
}
.change_plus{
    color:green;
}
.change_minus{
    color:red;
}
.widget-title{
    background-color: #EFEFEF;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-bottom: 16px;
    position: relative;
}
.widget-title h5 {
    color: #666;
    text-shadow: 0 1px 0 white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.ups_downs_sector {
    float: left;
    width:49%;
    margin-right: 1%;
}
.top10_sector {
    float: left;
    width:31%;
    margin-right: 1%;
}
.widget-content {
    padding: 12px 15px;
    border-bottom: 1px solid #CDCDCD;
}
.up_down_stats{
    width: 100%;
    text-align: center;
}
.up_down_stats td{
    padding: 10px;
    text-align:center;
}
.up_down_stats td:first-child, .up_down_stats th:first-child{
    text-align: left;
    padding-left: 10px;
}
.no_wrap{
    white-space: nowrap;
}
.tab-content{
    margin-left:10px;
}
.report_textarea{
    width: 357px;
    height: 177px;
}